:root {
    --color-oscuro: #2A4D88;
    --color-claro: #D9D9D8;
    --color-medio: #B1BBC8;
    --color-detalles: #7C94B8;
}

body {
    background-color: var(--color-medio);
}



.textimg {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}



.card-title {
    color: var(--color-oscuro);
}

.col-md-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--color-claro);
}

.card-sillas:hover {
    transform: scale(1.05);
}



.codigo-caja {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-md-8 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-comprar {
  padding: 14px 28px;
  margin: 10px;
  letter-spacing: 0.5px;
  color: var(--color-claro);
  background-color: var(--color-oscuro);
  
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 15px grey;
}

.btn-comprar:hover {
  background-color: var(--color-detalles);
}



.reseñas-contenedor {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.reseña {
    width: 180px;
    height: 355px;
    background-color: var(--color-claro);
    border-radius: 10px;

    margin: 10px;
    padding: 10px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.pfp {
    border-radius: 50%;
    margin: 10px;
}

.nomreseñas {
    color: var(--color-oscuro);
}